<launch>
    <node pkg="ltf" type="prismserver.py" name="Server_Prism" />
    <node pkg="ltf" type="tf_broadcaster.py" name="Leica_Broadcaster" />
    <node pkg="ltf" type="Gate_Prism_tf_broadcaster.py" name="Gate_tf_Broadcaster"/>
    <node pkg="ltf" type="prismUI.py" name="Ui_Monitor" output="screen" />
</launch>